/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

main {
    margin-left: 110px;
    margin-right: 110px;
}

/* banner-design */

.banner-design {
    display: flex;
    height: 646px;

    background-color: #161616;
    margin-top: 50px;

    border-radius: 30px;
}

.banner-left {
    margin-left: 106px;

}

.banner-title {
    font-size: 60px;
    font-weight: 700;
    color: #FFFFFF;
    height: 240px;

}

.banner-info {
    font-size: 16px;
    color: #FFFFFF;


}

.banner-button {
    background-color: #DD0000;
    border-radius: 5px;
    width: 187px;
    height: 56px;
    padding: 16px 25px;
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 28px;
}

.banner-image {
    margin-top: 65px;
    margin-left: 24px;
}

.banner-image img {
    width: 510px;
    height: 580px;
}


/* middle-blog-design */

.middle-blog-design {
    margin-top: 110px;
    display: flex;
}

.multiple-button {
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.button-design {
    border: 1px solid black;
    border-radius: 10px;
    width: 220px;
    height: 45px;
    background-color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 10px;

}

.button-3 {
    border: 1px solid black;
    background-color: #DD0000;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.button-1:hover {
    transform: scale(0.75);
    transition-duration: 1s;
    background-color: #4D4D4D;
}

.button-1 a {
    text-decoration: none;
    color: black;
}

.vss {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-left: 25px;
}

.vs {
    border: 1px solid #bbb8b8;
    border-radius: 10px;
    width: 255px;
    height: 170px;
    padding-top: 70px;

}

.flag {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.mid-vs {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.info {
    font-weight: 600;
    font-size: 20px;
}

.date {
    font-size: 16px;
    font-weight: #4D4D4D;

}

/* .transfers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    margin-left: 25px;

}

.transfer {
    width: 250px;
    height: 290px;
    border: 1px solid gray;
    border-radius: 10px;
}

.transfer-image img {
    width: 250px;
}

.emergency-padding {
    padding-left: 15px;
}

.emergency-padding button {
    margin-top: 7px;
}

.transfer-title {
    font-weight: 600;
    font-size: 16px;
    padding-top: 7px;

}

.clock,
{
margin-left: 5px;

}

.comment {
    margin-left: 30px;
}

.comment-section {
    color: #908c8c;
    display: flex;
    padding-top: 7px;
} */


/* footer...s */
.footers {
    height: 400px;
    background-color: #161616;
    color: white;
    margin-top: 100px;

}

.goal {
    font-weight: 600px;
    font-size: 40px;
    text-align: center;
    padding-top: 80px;
}

.horizontal {
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 40px;
    margin-bottom: 60px;
}

.contact-us {
    display: flex;
    justify-content: space-evenly;

}

.footer-anchor {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500px;
    font-size: 12px;
}